body{
	background: #f4f4f4;
}

.mui-scroll{
	position: fixed;
	left: 0;
	right: 0;
	top: .88rem;
	bottom: -44px;
	overflow-y: scroll;
}

/* 频道列表 */
.channel-list{
	width: 7.5rem;
	margin-bottom: .2rem;
	background: #fff;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex: wrap;
	padding: .1rem;
}
.channel-item{
	width: 25%;
	padding: .2rem 0 0 0;
}
.channel-item-logo{
	display: block;
	width: 1rem;
	margin: 0 auto;
}
.channel-item-label{
	font-size: .24rem;
	line-height: .44rem;
	color: #666;
	text-align: center;
	padding-left: .1rem;
}


/* 商品列表 */
.activity-img{
	padding: .2rem;
	background: #fff;
}
.activity-img img{
	width: 7.1rem;
	height: 2.5rem;
	border-radius: .12rem;
}
.goods-list{
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	background: #fff;
	position: relative;
	padding: 0 .3rem;
	overflow-x: scroll;
	overflow-y: hidden;
}
/*.goods-list:before{
	position: absolute;
	bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fff;
    z-index: 10;
}
.goods-list:after{
	position: absolute;
	right: 0;
    width: 2px;
    height: 100%;
    content: '';
    background-color: #fff;
    z-index: 10;
}*/

.goods-item{
	width: 2rem;
	box-sizing: content-box;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	padding: 0 .3rem .2rem 0;
}
.goods-item-wrap{
	position: relative;
}
/*.goods-item-wrap:before{
	position: absolute;
	top: 0;
    bottom: 0;
    right: -.3rem;
    width: 1px;
    content: '';
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    background-color: #ccc;
}

.goods-item-wrap:after{
	position: absolute;
	bottom: -.3rem;
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #ccc;
}*/
.goods-img{
	padding-bottom: .2rem;

}
.goods-img img{
	height: 2rem;
}
.goods-name{
	font-size: .26rem;
	line-height: .36rem;
	color: #444;
	height: .72rem;
	overflow: hidden;
	margin-bottom: .24rem;
}
.goods-slogn{
	font-size: .26rem;
	line-height: .36rem;
	color: #666;
	height: .36rem;
	overflow: hidden;
}
.goods-price{
	font-size: .26rem;
	line-height: .36rem;
	color: #ff2a2a;
}