.mui-content{
	background: url("../image/account@2x.png") no-repeat left top/ 100% auto;
	height: 5.14rem;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	position: relative;
}
.back{
	position: absolute;
	left: .2rem;
	top: .2rem;
	width: .16rem;
	height: .3rem;
}
.account-charge-label{
	font-size: .32rem;
	line-height: .44rem;
	color: #fff;
	margin-bottom: .2rem;
}
.account-charge-price{
	font-size: .9rem;
	line-height: 1rem;
	color: #fff;
}
.mui-btn-block{
	font-size: .32rem;
	line-height: .44rem;
	color: #60a3fb;
	border: 1px solid #60a3fb;
	border-radius: 1rem;
	padding: .22rem 0;
}

/*  */
.model{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.dialog{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: #fff;
	border-radius: .1rem;
	width: 5rem;
}
.dialog-head h2{
	font-size: .3rem;
	line-height: .88rem;
	color: #333;
	text-align: center;
	font-weight: normal;
}
.dialog-body{
	padding: 0 .3rem .3rem .3rem ;
	position: relative;
}
.dialog-body:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #ccc;
	transform: scaleY(.5);
	-webkit-transform: scaleY(.5);
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label{
	font-size: .28rem;
	color: #666;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	top: .14rem;
	width: .4rem;
	height: .4rem;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
	font-size: .4rem;
}
.dialog-foot{
	position: relative;
	display: flex;
	display: -webkit-flex;
	height: .88rem;
}
.dialog-foot .btn{
	flex: 1;
	-webkit-flex: 1;
	font-size: .28rem;
	line-height: .88rem;
	color: #999;
	text-align: center;
	position: relative;
}
.dialog-foot .btn:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #ccc;
	transform: scaleX(.5);
	-webkit-transform: scaleX(.5);
}
.dialog-foot .btn:last-child:after{
	width: 0;
}
.dialog-foot .btn:last-child{
	color: #60a3fb;
}

.mui-input-group:before {
   
    height: 0;
}
