body{
	background: #f4f4f4;
}
.mui-content>.mui-table-view:first-child {
    margin-top: .3rem;
}
.mui-table-view:before {
    height: 0;
}
.mui-table-view:after {
    height: 0;
}
.mui-table-view-cell{
    font-size: .28rem;
    line-height: .44rem;
    color: #555;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.own-btn{
    border-radius: 1rem;
    background: transparent;
    border-color: #60a3fb;
    color: #60a3fb;
    font-size: .3rem;
    line-height: .4rem;
    padding: .22rem 0;
}