body{
	background: #f4f4f4;
}
.mui-content>.mui-table-view:first-child {
    margin-top: .3rem;
}
.mui-table-view:before {
    height: 0;
}
.mui-table-view:after {
    height: 0;
}
.mui-table-view-cell>a:not(.mui-btn) {
    font-size: .28rem;
    line-height: .44rem;
    color: #555;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.mui-table-view-cell{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: .3rem;
}
.recharge-state{
    font-size: .28rem;
    line-height: .36rem;
    color: #555;
    margin-bottom: .1rem !important;
}
.recharge-price{
    font-size: .32rem;
    line-height: .36rem;
    color: #60a3fb;
    margin-bottom: .1rem !important;
    text-align: right;
}
.recharge-time{
    font-size: .24rem;
    line-height: .36rem;
    color: #666;
}
.recharge-type{
    font-size: .24rem;
    line-height: .36rem;
    color: #999;
    text-align: right;
}