body{
	background: #f4f4f4;
}

/* 轮播图 */
.mui-slider{
	height: 4.6rem;
}
.mui-slider-indicator{
	bottom: 1.2rem;
}
.mui-slider-indicator .mui-indicator{
	width: .1rem;
	height: .1rem;
	background: #a1c7f8;
	border-radius: .02rem;
	box-shadow: 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.1);
}
.mui-slider-indicator .mui-active.mui-indicator {
    background: #60a3fb;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}

/* 频道列表 */
.channel-list{
	width: 7.1rem;
	margin: -1.1rem auto .2rem auto;
	background: #fff;
	border-radius: .12rem;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex: wrap;
	padding: .1rem;
	position: relative;
	z-index: 1;
}
.channel-item{
	width: 33.33%;
	padding: .2rem 0 0 0;
}
.channel-item-logo{
	display: block;
	width: 1rem;
	margin: 0 auto;
}
.channel-item-label{
	font-size: .24rem;
	line-height: .44rem;
	color: #666;
	text-align: center;
}


/* 商品列表 */
.goods-list{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	background: #fff;
	position: relative;
}
.goods-list:before{
	position: absolute;
	bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fff;
    z-index: 10;
}
.goods-list:after{
	position: absolute;
	right: 0;
    width: 2px;
    height: 100%;
    content: '';
    background-color: #fff;
    z-index: 10;
}
.goods-item{
	width: 50%;
	padding: .3rem;
}
.goods-item-wrap{
	position: relative;
}
.goods-item-wrap:before{
	position: absolute;
	top: 0;
    bottom: 0;
    right: -.3rem;
    width: 1px;
    content: '';
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    background-color: #ccc;
}

.goods-item-wrap:after{
	position: absolute;
	bottom: -.3rem;
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #ccc;
}
.goods-img{
	padding: 0 .3rem .3rem .3rem;
	height: 2.7rem;
	width: 3rem;
}
.goods-img img{
	width: 100%;
	height: 100%;
}
.goods-name{
	font-size: .26rem;
	line-height: .36rem;
	color: #444;
	height: .72rem;
	overflow: hidden;
	margin-bottom: .24rem;
}
.goods-slogn{
	font-size: .26rem;
	line-height: .36rem;
	color: #666;
	height: .36rem;
	overflow: hidden;
}
.goods-price{
	font-size: .26rem;
	line-height: .36rem;
	color: #ff2a2a;
}