.head_msg {
  
	padding-left: 15px;
	height: 30px;
	display: table-cell;
		vertical-align: middle;
}
	
	
.head_title {
	/*background-color: darkblue;*/
	position: relative;
	left: 10px;
	right: 10px;
}
    		
.cellImg {
	
	max-width: 70%;
	height: auto;
	vertical-align: middle;
	position: relative;
	left: 5px;
}
    		
.mui-table-view .mui-table-view-cell {
	background: #f3fcfb;
}
.mui-table-view .mui-table-view-cell:after{
	left: 0px;
}
    	
.leftClassCell {
	
	margin: 0 auto;
	padding-top: 5%;
	width: 30%;
	float: left;
	display: table-cell;
	vertical-align: middle;
}
.rightClassCell {
	
	width: 70%;
	float: left;
}
    		
.headSelect:visited {
	
	background-color:  red;
}

.downDiv {
  
	background-color: white;
	height: 50px;
	width: 100%;
	/*网页底部*/
	position: fixed;
	bottom: 0;
}

.changeNum {
	
	padding: 0px;
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.mui-icon.iconfont.icon-xuanze1,
.mui-icon.iconfont.icon-xuanze {
	font-size: 1.1em;
	color: #41CEA9;
}

.head_title {
	vertical-align: baseline;
}

.mui-numbox {
	width: 40%;
	height: 100%;
	padding: 0px;
}

.mui-numbox [class*=mui-numbox-btn] {
	width: 30%;
	height: 100%;
	font-size: 1em;
	padding-bottom: 0.3em;
}

.itemName {
	color: black;
	line-height: 1.2em;
}
.itemfeatures {
	font-size: 0.6em;
	line-height: 0.5em;
	padding-top: 3px;
}
.price {
	color: #41CEA9;
	padding-top: 0px;
	margin-top: 0px;
}